@import '../../../theme.scss';

verdocs-template-sender-dialog {
  font-family: $primary-font;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .background-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000007f;
  }

  .dialog {
    width: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    background: $verdocs-grey-4;
    padding: 16px;
    box-shadow: 3px 3px 5px 1px rgba(40, 40, 40, 0.4);
  }

  .heading {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    flex-direction: row;
  }

  .buttons {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    verdocs-button {
      margin-left: 16px;
    }
  }

  .options {
    row-gap: 10px;

    .option {
      display: flex;
      flex-direction: row;

      .description {
        margin-left: 10px;

        .name {
          display: inline-block;
          vertical-align: top;
          margin-top: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}
