@import '../../../theme.scss';

verdocs-document-status {
  font-family: $primary-font;
  width: 140px;
  display: flex;
  font-size: 16px;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  color: $label-color;

  svg {
    height: 20px;
    width: 20px;
    margin: 0 8px -4px 0;
    fill: $icon-color;
  }
}
