@import '../../../theme.scss';

verdocs-template-recipients {
  font-family: $verdocs-primary-font;

  form {
    background-color: $verdocs-grey-4;
    padding: 12px;
    display: flex;
    flex-direction: column;

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: $verdocs-deep-blue;
      margin: 0 0 10px 0;
    }

    .participants {
      position: relative;
    }

    // To avoid the need to compute things like heights, this layer is simply displayed "on top" of all the level rows. Its
    // background obscures the horizontal lines.
    .left-line {
      top: 32px;
      left: 20px;
      z-index: 1;
      width: 12px;
      bottom: 30px;
      position: absolute;
      background: #ffffff;
      border-left: 3px dotted #9b9b9b;
    }

    .row {
      display: flex;
      column-gap: 0;
      margin-left: 50px;
      position: relative;
      flex-direction: row;
      padding: 6px 0 4px 0;

      .icon {
        top: 14px;
        z-index: 2;
        left: -40px;
        width: 24px;
        height: 24px;
        position: absolute;
        background: #ffffff;

        svg {
          fill: #00000089;
        }
      }

      .sender {
        height: 30px;
        display: flex;
        font-size: 14px;
        padding: 0 5px 0 15px;
        line-height: 30px;
        flex-direction: row;
        border-radius: 30px;
        margin: 0 0 0 14px;
        background-color: $verdocs-grey-3;
        border: 1px solid $verdocs-grey-2;
      }

      .complete {
        height: 30px;
        display: flex;
        font-size: 14px;
        padding: 0 15px;
        line-height: 30px;
        flex-direction: row;
        border-radius: 30px;
        margin: 0 0 0 14px;
        background-color: $verdocs-grey-3;
        border: 1px solid $verdocs-grey-2;
      }

      .label {
        font-weight: bold;
        margin-right: 6px;
        color: $verdocs-grey-1;
      }

      .settings-button {
        margin: 4px 0 0 9px;
        cursor: pointer;
      }

      .recipient {
        height: 30px;
        display: flex;
        font-size: 14px;
        line-height: 30px;
        border-radius: 30px;
        flex-direction: row;
        padding: 0 5px 0 15px;
        border: 1px solid $verdocs-grey-2;
      }

      .dropzone {
        width: 14px;
        height: 30px;
        //visibility: hidden;

        svg {
          fill: #cccccc;
        }

        &.visible {
          margin: 0 7px;
          //visibility: visible;
        }

        &.active {
          width: 100px;
          border-radius: 30px;
          background: #654dcb7f;
          border: 1px dashed #654dcb;

          svg {
          }
        }
      }
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 4px 0;
      color: $verdocs-bg-4;
    }

    input {
      border: none;
      font-size: 18px;
      padding: 3px 6px 3px 0;
      background: transparent;
      border-bottom: 1px solid $verdocs-dark-blue;

      &:focus {
        outline: none;
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
    flex-direction: row;

    .flex-fill {
      flex: 1;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }
}
