@import '../../../theme.scss';

verdocs-field-textbox {
  font-family: $verdocs-primary-font;
  box-sizing: border-box;
  width: 150px;
  height: 15px;
  display: block;
  font-size: 11px;
  letter-spacing: -0.2px;
  background-color: transparent;
  transform-origin: bottom left;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &.disabled {
    opacity: 0.5;
  }

  input {
    // This is needed to bring down the cursor from the parent element, which is where interactjs applies it
    cursor: inherit;

    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 3px;
    font-size: 11px;
    background: none;
    font-weight: 500;
    position: absolute;
    transform-origin: 0 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);

    &.hide {
      display: none;
    }
  }

  &.required {
    border: 1px solid rgb(204, 0, 0);
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    top: -3px;
    left: -2px;
    opacity: 0.5;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    transform: scale(0.6);

    &[data-active],
    &:hover {
      opacity: 1;
    }

    .icon {
      svg {
        fill: #333333;
      }

      &:hover {
        svg {
          fill: #000000;
        }
      }
    }
  }

  // @see https://community.logmein.com/t5/LastPass-Support-Discussions/placeholder-text-overrides-data-lpignore-quot-true-quot/td-p/295135
  // LastPass is ignoring the data-lpignore attribute in some cases
  [data-lastpass-icon-root] {
    display: none !important;
  }

  .settings-icon {
    position: absolute;
    top: -4px;
    left: -18px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;

    svg {
      fill: $border-color;
    }

    &:hover {
      opacity: 1;
    }
  }
}
