pdf-viewer {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);
  display: flex;
  flex-direction: column;
}

pdf-viewer button.test {
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  background: #5a5767;
  border: 1px solid #ccc;
}

pdf-viewer #pdf-container canvas {
  max-width: 100%;
}
