:host {
  display: block;
  position: relative;
}

:host([tall]) {
  height: 160px;
}

.arrow {
  width: 32px;
  height: 26px;
  background: #fff;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  border: 1px solid #ccc;
}

.arrow svg {
  fill: #50be80;
  transition: 0.3s;
}

.items {
  left: 0;
  top: 32px;
  width: 200px;
  display: none;
  position: absolute;
  border-radius: 5px;
  background: #33364b;
  border: 1px solid #654dcb;
}

.option {
  width: 100%;
  color: #fff;
  border: none;
  display: block;
  text-align: left;
  background: none;
  padding: 10px 20px;
}

.option:hover {
  cursor: pointer;
  background: #50be80;
}

.option[disabled] {
  color: #aaa;
}

.option[disabled]:hover {
  color: #aaa;
  cursor: inherit;
  background: transparent;
}

.open .items {
  display: block;
}

.open .arrow {
  background: #4c56cb;
  border: 1px solid #707ae5;
}

.open .arrow svg {
  /*transform: rotate(180deg);*/
  transform: scaleY(-1);
  fill: #fff;
}
