@import '../../../theme.scss';

verdocs-field-attachment {
  font-family: $verdocs-primary-font;
  width: 24px;
  height: 24px;
  display: block;
  font-size: 11px;
  background-color: transparent;
  transform-origin: bottom left;

  &.disabled {
    opacity: 0.5;

    span {
      cursor: inherit;
    }
  }

  span {
    // This is needed to bring down the cursor from the parent element, which is where interactjs applies it
    cursor: inherit;

    width: 20px;
  }

  &.required {
    span {
      border: 1px solid $verdocs-red-1;
    }
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }
}
