@import '../../../theme.scss';

verdocs-template-build-tabs {
  flex: 1;
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: $verdocs-primary-font;

  verdocs-button-panel {
    svg {
      transform: scale(0.8);
    }
  }

  verdocs-template-attachments,
  verdocs-template-roles {
    margin: 20px;
  }

  verdocs-template-fields {
    border-top: 1px solid #777777;
  }

  verdocs-template-attachments {
    padding: 20px;
    background: #ffffff;
  }

  verdocs-template-fields {
    width: 100%;
  }

  verdocs-preview {
    flex: 1;
  }
}

.template-details-panel {
  .row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px 0;
  }

  label {
    flex: 0 0 70px;
  }

  .value {
    flex: 1;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon-button {
    cursor: pointer;
    opacity: 0.8;
    flex: 0;
    width: 18px;
    height: 18px;

    svg {
      stroke: #000000;
      width: 18px;
      height: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
