@import '../../../theme.scss';

// See https://www.kallmanation.com/styling-a-checkbox-with-only-css
verdocs-field-checkbox {
  font-family: $verdocs-primary-font;
  font-size: 14px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;

  &.disabled {
    opacity: 0.5;
  }

  label > input[type='checkbox'] {
    display: none;
  }

  label > input[type='checkbox'] + *::before {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    //background: $verdocs-grey-3;
    border: 1px solid rgba(0, 0, 0, 0.7);
  }

  label > input[type='checkbox']:checked + * {
    color: $verdocs-green;
  }

  label > input[type='checkbox']:checked + *::before {
    content: '✓';
    color: white;
    text-align: center;
    background: $verdocs-green;
    border-color: $verdocs-green;
  }

  &.required {
    border: 1px solid $verdocs-red-1;
  }

  &.hide {
    display: none;
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    margin-left: -20px;
    margin-top: -4px;
    transform: scale(0.7);
  }
}
