@import '../../../theme.scss';

// See https://www.kallmanation.com/styling-a-checkbox-with-only-css
verdocs-field-checkbox {
  width: 16px;
  height: 16px;
  padding: 1px;
  box-sizing: border-box;
  transform-origin: bottom left;
  font-family: $verdocs-primary-font;

  &.disabled {
    opacity: 0.5;
  }

  label {
    width: 14px;
    height: 14px;
    display: block;
    box-sizing: border-box;
  }

  label > input[type='checkbox'] {
    display: none;
  }

  label > input[type='checkbox'] + *::before {
    margin: 0;
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    line-height: 14px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid $verdocs-grey-2;
  }

  label > input[type='checkbox']:checked + * {
    color: $verdocs-green;
  }

  label > input[type='checkbox']:checked + *::before {
    content: '✓';
    color: white;
    font-size: 12px;
    text-align: center;
    background: $verdocs-green;
    border-color: $verdocs-green;
  }

  &.required {
    border: 1px solid $verdocs-red-1;
  }

  &.hide {
    display: none;
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    margin-left: -20px;
    margin-top: -4px;
    transform: scale(0.7);
  }
}
