@import '../../../theme.scss';

// See https://www.kallmanation.com/styling-a-checkbox-with-only-css
verdocs-field-checkbox {
  line-height: 18px;
  transform-origin: bottom left;
  font-family: $verdocs-primary-font;

  &.disabled {
    opacity: 0.5;
  }

  label > input[type='checkbox'] {
    display: none;
  }

  label > input[type='checkbox'] + *::before {
    content: '';
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    line-height: 18px;
    border-radius: 2px;
    border-style: solid;
    margin-right: 0.5rem;
    border-width: 0.1rem;
    display: inline-block;
    vertical-align: bottom;
    border-color: $verdocs-grey-2;
  }

  label > input[type='checkbox']:checked + * {
    color: $verdocs-green;
  }

  label > input[type='checkbox']:checked + *::before {
    content: '✓';
    color: white;
    text-align: center;
    background: $verdocs-green;
    border-color: $verdocs-green;
  }

  &.required {
    border: 1px solid $verdocs-red-1;
  }

  &.hide {
    display: none;
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    margin-left: -20px;
    margin-top: -4px;
    transform: scale(0.7);
  }
}
