@import '../../../theme.scss';

verdocs-select-input {
  font-family: $primary-font;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  display: block;

  .input-element {
    box-sizing: border-box;
    background: $verdocs-grey-4;
    border: 1px solid $verdocs-bg-1;
    border-radius: 4px;
    background: $verdocs-grey-4;
    color: $verdocs-grey-0;
    width: 100%;
    font-size: 16px;
    height: 28px;
    padding: 2px 8px;

    &::placeholder {
      color: $light-disabled-color;
      opacity: 1;
    }

    &:focus {
      //border: 1px solid $border-color-highlight;
    }
  }

  .input-label {
    display: block;
    color: $label-color-light;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 4px 0;
  }
}
