@import '../../../theme.scss';

verdocs-field-textbox {
  font-family: $verdocs-primary-font;
  width: 150px;
  height: 15px;
  display: block;
  font-size: 11px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;

  input {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    height: 100%;
    width: 100%;
    background: none;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &.hide {
      display: none;
    }
  }

  &.required {
    border: 1px solid var(--verdocs-required-color);
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }
}
