@import '../../../theme.scss';

verdocs-template-fields {
  position: relative;
  font-family: $verdocs-primary-font;

  .page-0 {
    padding: 55px 15px 0 15px;
    box-sizing: border-box;

    .user-placed-fields {
      height: 100px;
      position: relative;
      background: #ffffff;
      box-shadow: 0 0 10px 5px #0000000f;

      .title {
        top: 0;
        left: 0;
        color: #ffffff;
        font-size: 12px;
        padding: 3px 6px;
        font-weight: bold;
        position: absolute;
        background: $verdocs-grey-blue;
      }
    }
  }

  .fields-bar {
    height: 50px;
    display: flex;
    z-index: 10000;
    position: fixed;
    padding: 5px 20px;
    line-height: 28px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background: $verdocs-grey-blue;

    .label {
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-right: 8px;
    }

    .icon {
      margin: 0 4px;
      display: flex;
      transform: scale(0.8, 0.8);

      svg {
        fill: #ffffff;
      }
    }

    .operation {
      border: none;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      margin-left: 10px;
      background: transparent;
      text-transform: uppercase;
    }
  }
}
