@import '../../../theme.scss';

verdocs-template-properties {
  font-family: $verdocs-primary-font;

  form {
    display: flex;
    flex-direction: column;

    h5 {
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 6px 0;
    }

    .row {
      display: flex;
      position: relative;
      margin: 0 0 20px 0;
      flex-direction: column;
    }

    fieldset {
      width: 440px;
      border: none;
      max-width: 100%;
      margin: 0 0 20px 0;
      box-sizing: border-box;
      padding: 20px 20px 10px 20px;
      background-color: $verdocs-grey-4;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 14%);
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 4px 0;
      color: $verdocs-bg-4;
    }

    input {
      border: none;
      font-size: 18px;
      padding: 3px 6px 3px 0;
      background: transparent;
      border-bottom: 1px solid $verdocs-dark-blue;

      &:focus {
        outline: none;
      }
    }

    .input-row {
      display: flex;
      margin: 0 0 10px 0;
      align-items: center;
      flex-direction: row;

      label {
        flex: 1;
        display: flex;
      }

      verdocs-text-input {
        margin: 0;
        display: flex;
        flex: 0 0 40px;

        input {
          text-align: center;
        }
      }

      verdocs-checkbox {
        display: flex;
        flex: 0 0 40px;
        justify-content: center;
      }
    }

    .radio-row {
      display: flex;
      position: relative;
      margin: 0 0 10px 0;
      flex-direction: row;

      verdocs-radio-button {
        display: flex;
        flex: 0 0 30px;
      }

      label {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 16px;
          font-weight: 500;
        }

        .description {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
    flex-direction: row;

    .flex-fill {
      flex: 1;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }
}
