verdocs-text-button {
  .button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--verdocs-secondary-color);
    font-weight: 400;
    outline: none;
    background: transparent;
    padding: 0 4px;

    &:disabled {
      color: #999;
      cursor: none;
    }

    &:active {
      filter: brightness(110%);
    }
  }
}
