@import '../../../theme.scss';

verdocs-build {
  display: flex;
  flex-direction: column;
  font-family: $verdocs-primary-font;

  .content {
    flex: 1;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    //box-shadow: 0 0 7px -3px #000000cc;
  }

  verdocs-template-attachments,
  verdocs-template-roles {
    margin: 20px;
  }

  verdocs-template-fields {
    border-top: 1px solid #777777;
  }

  verdocs-template-attachments {
    padding: 20px;
    background: #ffffff;
  }

  verdocs-template-fields {
    width: 100%;
  }

  verdocs-preview {
    flex: 1;
  }
}
