@import '../../../theme.scss';

verdocs-template-attachments {
  font-family: $verdocs-primary-font;

  h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: $verdocs-grey-blue;
  }

  .attachments {
    margin: 0 0 30px 0;
  }

  .attachment {
    display: flex;
    padding: 5px 5px 5px 10px;
    column-gap: 10px;
    align-items: center;
    flex-direction: row;
    color: $label-color;
    border: 1px solid $light-border-color;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: $verdocs-bg-4;
    margin: 2px 0 0 0;
  }

  .file-icon {
    flex: 0;
  }

  .filename {
    display: flex;
    flex: 1;
  }

  .trash-icon {
    flex: 0;
  }

  verdocs-file-chooser {
    margin: 10px 0;
    border: 2px dashed #979797;
  }

  .loader-wrapper {
    background-color: $verdocs-grey-4;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 320px;
    height: 320px;
    text-align: center;
    border: 2px dashed #979797;
    justify-content: flex-end;
  }

  .progress-wrapper {
    padding: 20px;
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    .flex-fill {
      flex: 1;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }
}
