@import '../../../theme.scss';

verdocs-upload-dialog {
  font-family: $primary-font;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .background-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000007f;
  }

  .dialog {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    background: $verdocs-grey-4;
    padding: 16px;
    box-shadow: 3px 3px 5px 1px rgba(40, 40, 40, 0.4);
  }

  .heading {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    verdocs-button {
      margin-left: 16px;
    }
  }

  .drop-target {
    padding: 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 2px dashed #979797;
    min-height: 260px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    opacity: 1;
    margin: 20px 0;

    p {
      margin: 12px 0;
    }

    &.dragging-over {
      border: 5px solid $verdocs-deep-blue;
    }

    > verdocs-button {
      margin: 12px 0;
      display: inline-block;
    }
  }

  .attachments {
    height: 56px;
    font-size: 0;
    margin: 20px 0;
    padding: 0 16px;
    line-height: 56px;
    white-space: normal;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 14%);

    .attachment {
      display: flex;
      align-items: center;
      flex-direction: row;

      .icon {
        width: 18px;
        height: 18px;
        line-height: 18px;

        &.trash {
          cursor: pointer;
        }
      }

      .name {
        flex: 1;
        display: flex;
        padding: 0 8px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
