@import '../../../theme.scss';

// See https://www.kallmanation.com/styling-a-checkbox-with-only-css
verdocs-field-checkbox {
  font-family: $verdocs-primary-font;
  font-size: 11px;
  background-color: transparent;
  transform-origin: bottom left;

  label > input[type='checkbox'] {
    display: none;
  }

  label > input[type='checkbox'] + *::before {
    content: '';
    display: block;
    vertical-align: bottom;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
  }

  label > input[type='checkbox']:checked + * {
    color: $verdocs-green;
  }

  label > input[type='checkbox']:checked + *::before {
    content: '✓';
    color: white;
    text-align: center;
    background: $verdocs-green;
    border-color: $verdocs-green;
  }

  &.required {
    label > input[type='checkbox'] + *::before {
      border: 1px solid $verdocs-red-1;
    }
  }

  &.hide {
    display: none;
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }
}
