verdocs-button {
  .button {
    font-family: sans-serif;
    font-family: var(--verdocs-font);

    text-transform: uppercase;
    background: var(--verdocs-primary-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    border: none;
    outline: none;
    height: 32px;
    margin: 0;
    display: block;
    cursor: pointer;
    padding: 0 20px;

    &:disabled {
      background-color: #999;
      cursor: default;
    }

    &:active {
      filter: brightness(110%);
    }
  }
}
