@import '../../../theme.scss';

verdocs-button {
  button {
    //font-family: sans-serif;
    font-family: $verdocs-primary-font;
    text-transform: uppercase;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

    .icon {
      margin: 0 12px;

      svg {
        fill: #fff;
      }
    }

    .label {
      padding: 0 12px;
    }

    &.small {
      height: 44px;
      font-size: 14px;
    }

    &.normal {
      height: 44px;
      font-size: 14px;
    }

    &.medium {
      height: 62px;
      font-size: 16px;
    }

    &.large {
      height: 68px;
      font-size: 20px;
    }

    &:disabled {
      cursor: none;
    }

    &.standard {
      background: $verdocs-green;
      border-radius: 4px;
      color: white;
      border: none;
      outline: none;
      margin: 0;

      &:disabled {
        background-color: $disabled-color;
        cursor: default;
      }

      &:active {
        filter: brightness(110%);
      }
    }

    &.text {
      border: none;
      color: $secondary-color;
      font-weight: 400;
      outline: none;
      background: transparent;
      padding: 0 4px;

      &:disabled {
        color: $disabled-color;
        cursor: none;
      }

      &:active {
        filter: brightness(130%);
      }
    }

    &.outline {
      border: 1px solid $secondary-color;
      color: $secondary-color;
      outline: none;
      background: transparent;
      border-radius: 4px;
      padding: 0 20px;

      &:disabled {
        color: $disabled-color;
        cursor: none;
        border: 1px solid $disabled-color;
      }

      &:active {
        background: $secondary-color;
        color: white;
      }
    }
  }
}
