@import '../../../theme.scss';

verdocs-field-textarea {
  width: 150px;
  height: 15px;
  display: block;
  font-size: 11px;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  transform-origin: bottom left;
  font-family: $verdocs-primary-font;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &.disabled {
    opacity: 0.5;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0 3px;
    font-size: 11px;
    background: none;
    font-weight: 500;
    transform-origin: 0 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);

    &.hide {
      display: none;
    }
  }

  &.required {
    border: 1px solid rgb(204, 0, 0);
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    top: -3px;
    left: -2px;
    opacity: 0.5;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    transform: scale(0.6);

    &[data-active],
    &:hover {
      opacity: 1;
    }

    .icon {
      svg {
        fill: #333333;
      }

      &:hover {
        svg {
          fill: #000000;
        }
      }
    }
  }
}
