@import '../../../theme.scss';

verdocs-template-roles {
  display: block;
  min-width: 400px;
  font-family: $verdocs-primary-font;

  > form {
    display: flex;
    flex-direction: column;
    background-color: $verdocs-grey-4;

    // The extra right padding helps ensure when dragged elements move to absolute positioning
    padding: 12px;

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: $verdocs-deep-blue;
      margin: 0 0 10px 0;
    }

    .participants {
      position: relative;
    }

    // To avoid the need to compute things like heights, this layer is simply displayed "on top" of all the level rows. Its
    // background obscures the horizontal lines.
    .left-line {
      top: 32px;
      left: 11px;
      z-index: 1;
      width: 12px;
      bottom: 30px;
      position: absolute;
      background: #ffffff;
      border-left: 3px dotted #9b9b9b;
    }

    .row {
      display: flex;
      column-gap: 0;
      min-height: 35px;
      margin-left: 40px;
      position: relative;
      flex-direction: row;
      padding: 6px 0 4px 0;

      .row-roles {
        flex: 1;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .icon {
        top: 14px;
        z-index: 2;
        left: -40px;
        width: 24px;
        height: 24px;
        position: absolute;
        background: #ffffff;
      }

      .sender {
        height: 30px;
        display: flex;
        font-size: 14px;
        line-height: 30px;
        align-items: center;
        border-radius: 30px;
        flex-direction: row;
        padding: 0 5px 0 15px;
        border: 1px solid #c6c9cc;
        background-color: $verdocs-grey-3;
      }

      .complete {
        height: 30px;
        display: flex;
        font-size: 14px;
        padding: 0 15px;
        line-height: 30px;
        flex-direction: row;
        border-radius: 30px;
        background-color: $verdocs-grey-3;
        border: 1px solid $verdocs-grey-2;
      }

      .label {
        font-weight: bold;
        margin-right: 6px;
        color: $verdocs-grey-1;
      }

      .settings-button {
        display: flex;
        cursor: pointer;
        margin: 0 0 0 9px;
      }

      .recipient {
        height: 30px;
        display: flex;
        font-size: 14px;
        border-radius: 30px;
        align-items: center;
        flex-direction: row;
        padding: 0 5px 0 6px;
        white-space: nowrap;
        border: 2px solid $verdocs-grey-2;

        .type-icon {
          width: 24px;
          height: 24px;
          transform: scale(0.8);
          opacity: 0.6;
          margin: 0 12px 0 0;
        }

        &.dragging {
          position: absolute;
        }

        // When dragging a recipient hide the "drop" target that appears after it. The dragged element gets removed from the DOM during
        // the drag, so it leaves two drop zones side by side (a double width).
        &.dragging + .dropzone {
          display: none !important;
        }
      }

      .dropzone {
        width: 14px;
        height: 30px;
        display: none;

        svg {
          fill: #cccccc;
        }

        &.visible {
          margin: 0 7px;
          display: flex;
          flex: 0 0 14px;
          //border: 1px solid #ccc;
        }

        &.active {
          flex: 0 0 120px;
          border-radius: 30px;
          background: #654dcb7f;
          border: 1px dashed #654dcb;
        }
      }
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 4px 0;
      color: $verdocs-bg-4;
    }

    input {
      border: none;
      font-size: 18px;
      padding: 3px 6px 3px 0;
      background: transparent;
      border-bottom: 1px solid $verdocs-dark-blue;

      &:focus {
        outline: none;
      }
    }
  }

  .row.add-sequence {
    display: none;
  }

  .add-role {
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    background: none;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .add-step {
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    background: none;

    &:hover {
      opacity: 1;
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &.dragging {
    .add-role {
      display: none;
    }

    form .row .recipient + .dropzone {
      display: flex;
    }

    .row.add-sequence {
      display: flex;

      .dropzone {
        opacity: 0.5;
        flex: 0 0 120px;
        border-radius: 30px;
        align-items: center;
        background: #654dcb7f;
        justify-content: center;
        border: 1px dashed #654dcb;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
    flex-direction: row;
  }

  .empty {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 5px;

    svg {
      width: 20px;
      height: 20px;
      stroke: #666666;
      margin-bottom: -5px;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }
}
