@import '../../../theme.scss';

verdocs-dropdown {
  font-family: $primary-font;
  display: block;

  .arrow {
    width: 32px;
    height: 26px;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;
    border: 1px solid $light-border-color;
    justify-content: center;
  }

  .arrow svg {
    fill: $primary-color;
    transition: 0.3s;
  }

  .items {
    width: 200px;
    display: none;
    z-index: 10000;
    border-radius: 5px;
    background: $medium-bg;
    border: 1px solid $item-border-color;
  }

  .items[data-show] {
    display: block;
  }

  .option {
    width: 100%;
    color: #fff;
    border: none;
    display: block;
    text-align: left;
    background: none;
    padding: 10px 20px;
  }

  .option:hover {
    cursor: pointer;
    background: $primary-color;
  }

  .option[disabled] {
    color: $light-disabled-color;
  }

  .option[disabled]:hover {
    color: $light-disabled-color;
    cursor: inherit;
    background: transparent;
  }

  &.open {
    .items {
      display: block;
    }

    .arrow {
      background: $secondary-color;
      border: 1px solid $border-color;
    }

    .arrow svg {
      /*transform: rotate(180deg);*/
      transform: scaleY(-1);
      fill: #fff;
    }
  }
}
