@import '../../../theme.scss';

verdocs-otp-dialog {
  font-family: $primary-font;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  // NOTE: background-overlay and .dialog are handled by verdocs-dialog

  .heading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .step {
    margin-left: 6px;
    color: #666;
  }

  .help-box {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    color: black;
    margin-bottom: 20px;
  }

  .help-details {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    font-size: 14px;
    gap: 5px;
  }

  .help-title {
    font-weight: 600;
    margin-bottom: 4px;
  }

  .help-text {
    font-weight: 400;
  }

  .input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 16px 0 0px; // Removed bottom margin as footer handles spacing

    label {
      flex: 0;
      line-height: 10px;
      font-weight: 500;
      white-space: nowrap;
    }

    input {
      flex: 1;
      padding: 5px 8px;
      border-radius: 3px;
      border: 1px solid #cccccc;
    }
  }

  .field {
    gap: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;

    .required {
      color: red;
      position: relative;
      top: -0.5em;
      font-size: 80%;
    }

    label {
      flex: 0 0 120px;
      font-weight: 500;
      line-height: 10px;
      text-align: right;
      white-space: nowrap;
    }

    verdocs-date-input {
      width: 40%;
      flex-grow: 1;

      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    input {
      width: 40%;
      flex-grow: 1;
      padding: 5px 8px;
      border-radius: 3px;
      border: 1px solid #cccccc;
    }
  }

  .choices {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    margin: 0 0 15px 0;
  }

  .choice {
    border: 1px solid $border-color;
    border-radius: 5px;
    display: flex;
    height: 60px;
    font-size: 14px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $choice-available-color;
    cursor: pointer;

    &.selected {
      background-color: $border-color;
      color: $verdocs-grey-4;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    verdocs-button {
      margin-left: 16px;
    }
  }
}
