:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
  background-color: #1e2031;
  text-transform: uppercase;
  padding: 10px 10px 20px 10px;
  font-family: sans-serif;
  color: #ffffff;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-top: 20px;
}

.button {
  background: transparent;
  border: none;
  height: 20px;
  font-size: 16px;
  font-family: sans-serif;
  color: #ffffff;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button:not(:last-child) {
  margin-bottom: 36px;
}

.button svg {
  fill: #707ae5;
  width: 28px;
  height: 28px;
  margin-right: 26px;
}

.empty {
  text-transform: none;
  line-height: 22px;
  color: #ccc;
}
