verdocs-template-tags {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);

  span {
    margin: 0 4px;
    height: 28px;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-transform: uppercase;
    color: var(--verdocs-label-color);
    border: 1px solid var(--verdocs-container-border-color);
    background-color: var(--verdocs-container-background-color);
  }
}
