.container {
  width: 270px;
  height: 35px;
  background-color: #33364b;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.tags {
  display: inline-flex;
  box-sizing: border-box;
  flex-basis: content;
  padding: 7px 12px;
  margin: 0 5px;
  height: 28px;
  background-color: #f4f4f9;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #33374a;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}