verdocs-auth {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);
  background-color: #4c56cb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-form,
  .signup-form {
    background: #f2f5fa;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 300px;
    max-width: 100%;
  }

  .logo {
    margin: 20px 0 30px;
    width: 128px;
    max-width: 100%;
  }

  h3 {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
  }

  h4 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
  }

  .status-result {
    display: none;

    &.debug {
      white-space: pre-wrap;
      font-size: 14px;
      background: #fff;
      padding: 10px;
      display: block;
    }
  }

  form {
    width: 100%;
    margin: 20px 0;
  }
}
