@import '../../../theme.scss';

verdocs-table {
  font-family: $primary-font;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  display: block;
  width: 100%;

  .table-wrapper {
    margin: 10px 0;
    padding: 0;
  }

  .table {
    width: 100%;
    border: none;
  }

  .row {
    &.header-row {
    }

    &.data-row {
      border: 1px solid #cccccc;
      background-color: #ffffff;
    }
  }

  .header-col {
    text-align: left;
    padding: 8px 16px;
    font-weight: 600;
    color: #5c6575;
  }

  .data-col {
    padding: 8px 16px;
    font-weight: 400;
  }
}
