$background-color: #f4f4f4;
$color2: #55bc81;

// See https://www.sliderrevolution.com/resources/styling-radio-buttons/
verdocs-field-radio-button {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);

  width: 14px;
  height: 14px;
  display: block;
  font-size: 11px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;
  border-radius: 100%;

  input[type='radio'] {
    position: absolute;
    opacity: 0;

    + label {
      &:before {
        content: '';
        background: $background-color;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        //border: 1px solid rgb(204, 0, 0);
        display: inline-block;
        width: 13px;
        height: 13px;
        position: relative;
        top: 2px;
        margin-right: 2px;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }

    &:checked {
      + label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 2px $background-color;
        }
      }
    }

    &:focus {
      + label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }

    &:disabled {
      + label {
        &:before {
          box-shadow: inset 0 0 0 4px $background-color;
          border-color: darken($background-color, 25%);
          background: darken($background-color, 25%);
        }
      }
    }

    + label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }

  &.required {
    input[type='radio'] {
      + label {
        &:before {
          border: 1px solid var(--verdocs-required-color);
        }
      }
    }
  }

  &.hide {
    display: none;
  }
}
