@import '../../../theme.scss';

verdocs-template-visibility {
  font-family: $verdocs-primary-font;

  &.loading {
    min-height: 300px;
    position: relative;
    display: block;
  }

  &.empty {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;

    .description {
      font-size: 14px;
      text-align: justify;
      //margin-bottom: 20px;
      color: $verdocs-bg-4;
    }

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: $verdocs-deep-blue;
      margin: 0;
    }

    label {
      flex: 1;
      display: flex;
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 4px 0;
      color: $label-color;
    }

    input {
      border: none;
      font-size: 18px;
      padding: 3px 6px 3px 0;
      background: transparent;
      border-bottom: 1px solid $verdocs-dark-blue;

      &:focus {
        outline: none;
      }
    }

    .input-row {
      display: flex;
      margin: 20px 0 0 0;
      align-items: center;
      flex-direction: row;

      verdocs-text-input {
        margin: 0;
        display: flex;
        flex: 0 0 40px;

        input {
          text-align: center;
        }
      }

      verdocs-checkbox {
        flex: 0;
        display: flex;
        justify-content: center;

        label > input[type='checkbox'] + *::before {
          margin-right: 0;
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 25px;
    flex-direction: row;
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }
}
