@import '../../../theme.scss';

verdocs-dialog {
  font-family: $primary-font;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .background-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10000;
    position: absolute;
    align-items: center;
    background: #0000007f;
    justify-content: center;
  }

  .dialog {
    width: 420px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    border-radius: 4px;
    flex-direction: column;
    background: $verdocs-grey-4;
    box-shadow: 3px 3px 5px 1px rgba(40, 40, 40, 0.4);
  }

  .heading {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    flex-direction: row;
    color: $verdocs-grey-4;
    background: $verdocs-grey-blue;
  }

  .content {
    padding: 16px;

    p {
      margin: 0 0 1em 0;
    }
  }

  .buttons {
    gap: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
