@import '../../../theme.scss';

verdocs-dialog {
  box-sizing: border-box;
  font-family: $primary-font;

  div {
    box-sizing: border-box;
  }

  .background-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10000;
    position: absolute;
    align-items: center;
    background: #0000007f;
    justify-content: center;
  }

  .dialog {
    width: 420px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
    background: #ffffff;
    flex-direction: column;
    border: 1px solid #aeb4bf;
    box-shadow: 3px 3px 5px 1px rgba(40, 40, 40, 0.4);
  }

  .heading {
    gap: 12px;
    padding: 20px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    flex-direction: row;
    color: $verdocs-grey-4;
    border-bottom: 1.5px solid #e5e7eb;

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      flex-shrink: 0;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      background: $verdocs-purple;
    }

    .title {
      flex: 1;
      height: 40px;
      display: flex;
      font-size: 20px;
      font-weight: 500;
      align-items: center;
      color: $verdocs-grey-0;
    }
  }

  .content {
    padding: 20px 20px 0 20px;
    font-size: 16px;
    line-height: 26px;
    color: $verdocs-dialog-content;

    p {
      margin: 0 0 1em 0;
    }

    ul {
      margin: 0 0 1em 0;
      padding: 0 0 0 20px;

      li {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 12px 0;
        padding: 0 0 0 8px;
      }

      li::marker {
        font-size: 18px;
        color: $verdocs-purple;
      }
    }

    ol {
      margin: 0 0 1em 0;
      padding: 0 0 0 20px;

      li {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 12px 0;
        padding: 0 0 0 8px;
      }

      li::marker {
        font-weight: 500;
        color: $verdocs-purple;
      }
    }
  }

  .footer {
    padding: 0 20px 20px 20px;
  }
}
