@import '../../../theme.scss';

verdocs-settings-profile {
  display: flex;
  padding: 10px;
  font-size: 18px;
  flex-wrap: nowrap;
  border-radius: 6px;
  color: $label-color;
  flex-direction: column;
  font-family: $primary-font;

  .columns {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  verdocs-text-input {
    margin: 10px 0;

    input {
      height: 32px;
    }
  }

  @media screen and (max-width: 600px) {
    .columns {
      gap: 0;
      flex-direction: column;
    }
  }
}
