@import '../../../theme.scss';

verdocs-delegate-dialog {
  font-family: $primary-font;
  box-sizing: border-box;

  div {
    box-sizing: border-box;
  }

  .input {
    gap: 10px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    label {
      margin: 8px 0 0 0;
      flex: 0 0 100px;
      font-size: 13px;
      font-weight: 500;
      line-height: 10px;
      white-space: nowrap;
    }

    input {
      flex: 1;
      padding: 5px 8px;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1px solid #cccccc;
    }

    textarea {
      flex: 1;
      padding: 5px 8px;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1px solid #cccccc;
      font-family: $primary-font;
    }

    &.names input {
      width: 80px;
    }
  }

  .field {
    gap: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;

    .required {
      color: red;
      position: relative;
      top: -0.5em;
      font-size: 80%;
    }

    label {
      flex: 0 0 120px;
      font-weight: 500;
      line-height: 10px;
      text-align: right;
      white-space: nowrap;
    }

    verdocs-date-input {
      width: 40%;
      flex-grow: 1;

      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    input {
      width: 40%;
      flex-grow: 1;
      padding: 5px 8px;
      border-radius: 3px;
      border: 1px solid #cccccc;
    }
  }

  /* TODO: We're getting positive feedback. Add this as a formal button variant. */
  .buttons {
    gap: 20px;
    display: flex;
    margin-top: 14px;
    flex-direction: row;
    justify-content: flex-end;

    button {
      flex: 1;
      border: 0;
      height: 38px;
      display: flex;
      color: #ffffff;
      font-size: 14px;
      //font-size: 16px;
      cursor: pointer;
      align-items: center;
      border-radius: 6px;
      justify-content: center;

      &.cancel {
        background-color: $verdocs-button-purple;
      }

      &.proceed {
        background-color: $verdocs-button-green;
      }

      &:disabled {
        background-color: $verdocs-button-disabled;
      }
    }
  }
}
