toggle-icon-buttons {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);
}

toggle-icon-buttons .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f2f5fa;
}

toggle-icon-buttons .label {
  font-size: 24px;
  font-weight: 700;
  color: #33364b;
  align-self: center;
  margin-right: 27px;
  font-family: sans-serif;
}

toggle-icon-buttons .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

toggle-icon-buttons .buttons button {
  width: 60px;
  height: 60px;
  border: 2px solid #654dcb;
  border-radius: 5px;
  cursor: pointer;
}

toggle-icon-buttons .buttons button:not(:last-child) {
  margin-right: 11px;
}

toggle-icon-buttons .buttons svg {
  width: 30px;
  height: 30px;
}

toggle-icon-buttons .buttons button:hover {
  background-color: #654dcb;
  transition: 0.25s
}

toggle-icon-buttons .buttons button:hover svg {
  fill: #f2f5fa;
  transition: 0.25s;
}

toggle-icon-buttons .selected {
  background-color: #707ae5;
  transition: 0.25s
}

toggle-icon-buttons .selected svg {
  fill: #ffffff;
  transition: 0.25s;
}
