@import '../../../theme.scss';

verdocs-contact-picker {
  display: block;
  border: 1px solid #ebebeb;
  background-color: $verdocs-grey-4;
  font-family: $verdocs-primary-font;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  form {
    gap: 12px;
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: $verdocs-grey-3;

    .row {
      gap: 8px;
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;

      &.message {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .names-row {
      gap: 8px;
      display: flex;
      flex-direction: row;

      > input {
        font-size: 14px;
        width: 103px;
      }
    }

    .kba-row {
      gap: 8px;
      display: flex;
      align-items: center;
      flex-direction: row;

      verdocs-select-input {
        margin: 0;
      }
    }

    .pin-code {
      gap: 8px;
      display: flex;
      align-items: center;
      flex-direction: row;

      > input {
        flex: 0;
        width: 133px;
        font-size: 14px;
        margin-left: 58px;
      }
    }

    .zip-code {
      gap: 8px;
      display: flex;
      align-items: center;
      flex-direction: row;

      > input {
        flex: 0;
        width: 133px;
        font-size: 14px;
        margin-left: 58px;
      }
    }

    label {
      display: flex;
      flex: 0 0 50px;
      font-size: 14px;
      font-weight: 500;
      color: $verdocs-bg-4;
    }

    .row.message label {
      flex: 0;
    }

    .row.message input {
      width: 100%;
    }

    input {
      flex: 1;
      padding: 6px;
      font-size: 14px;
      border-radius: 3px;
      background: #00000005;
      border: 1px solid $border-color-extralight;

      &:focus {
        outline: none;
      }
    }

    .dropdown {
      left: 0;
      right: 0;
      top: 49px;
      z-index: 1000000;
      max-height: 225px;
      overflow-y: scroll;
      position: absolute;
      background: #ffffff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

      .suggestion {
        display: flex;
        padding: 6px 12px;
        align-items: center;
        flex-direction: row;

        svg {
          width: 32px;
          height: 32px;
        }

        .avatar {
          width: 32px;
          height: 32px;
          flex: 0 0 32px;
          margin-right: 8px;
          border-radius: 100%;
        }

        .details {
          display: flex;
          flex-direction: column;
        }

        .name {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 3px;
          color: $verdocs-grey-0;
        }

        .destination {
          font-size: 14px;
          margin-bottom: 3px;
          color: $verdocs-grey-1;
        }

        &:hover {
          background: #eee;
          cursor: pointer;
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 6px;
    margin-top: 16px;
    flex-direction: row;

    .flex-fill {
      flex: 1;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }

  // @see https://community.logmein.com/t5/LastPass-Support-Discussions/placeholder-text-overrides-data-lpignore-quot-true-quot/td-p/295135
  // LastPass is ignoring the data-lpignore attribute in some cases
  [data-lastpass-icon-root] {
    display: none !important;
  }
}
