@import '../../../theme.scss';

verdocs-contact-picker {
  font-family: $verdocs-primary-font;
  background-color: $verdocs-grey-4;

  form {
    background-color: $verdocs-grey-3;
    padding: 12px;
    display: flex;
    flex-direction: column;

    .row {
      width: 300px;
      display: flex;
      position: relative;
      margin: 0 0 20px 0;
      flex-direction: column;
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 4px 0;
      color: $verdocs-bg-4;
    }

    input {
      border: none;
      font-size: 18px;
      padding: 3px 6px 3px 0;
      background: transparent;
      border-bottom: 1px solid $verdocs-dark-blue;

      &:focus {
        outline: none;
      }
    }

    .dropdown {
      left: 0;
      right: 0;
      top: 49px;
      z-index: 10000;
      position: absolute;
      background: #ffffff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

      .suggestion {
        display: flex;
        padding: 6px 12px;
        align-items: center;
        flex-direction: row;

        svg {
          fill: #666666;
        }

        .avatar {
          width: 48px;
          height: 48px;
          flex: 0 0 48px;
          margin-right: 8px;
          border-radius: 100%;
        }

        .details {
          display: flex;
          flex-direction: column;
        }

        .name {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 3px;
          color: $verdocs-grey-0;
        }

        .destination {
          font-size: 14px;
          margin-bottom: 3px;
          color: $verdocs-grey-1;
        }

        &:hover {
          background: #eee;
          cursor: pointer;
        }
      }
    }
  }

  .buttons {
    display: flex;
    column-gap: 8px;
    margin-top: 16px;
    flex-direction: row;

    .flex-fill {
      flex: 1;
    }
  }

  ::placeholder {
    color: $verdocs-bg-2;
  }

  // @see https://community.logmein.com/t5/LastPass-Support-Discussions/placeholder-text-overrides-data-lpignore-quot-true-quot/td-p/295135
  // LastPass is ignoring the data-lpignore attribute in some cases
  [data-lastpass-icon-root] {
    display: none !important;
  }
}
