verdocs-field-initial {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);

  width: 82px;
  height: 36px;
  display: block;
  font-size: 11px;
  line-height: 36px;
  position: relative;
  border: 1px solid #cfa;
  background-color: transparent;
  transform-origin: bottom left;

  button,
  div {
    box-sizing: border-box;
  }

  button {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    //background-color: rgba(225, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    background: none;
    font-size: 11px;
    border: 1px solid rgb(204, 0, 0);

    &.hide {
      display: none;
    }
  }

  input {
    float: left;
    font-family: Arial, sans-serif;
  }

  select {
    position: absolute;
    font-family: Arial, sans-serif;
    background: linear-gradient(55deg, transparent 50%, #333 50%), linear-gradient(125deg, #333 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 7px) 4px, calc(100% - 3px) 4px, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    appearance: none;
  }

  .frame {
    width: 100%;
    height: 100%;
    background-size: contain;
    text-align: left;

    img {
      position: absolute;
      height: auto;
      width: 100%;
    }
  }

  &.focused {
    animation: verdocs-pulse-kf 0.75s 2;
  }
}

@keyframes verdocs-pulse-kf {
  0% {
    background-color: rgba(0, 0, 0, 0.35);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.35);
  }
}
