@import '../../../theme.scss';

verdocs-field-timestamp {
  font-family: $verdocs-primary-font;
  width: 150px;
  height: 15px;
  display: block;
  font-size: 11px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;
  opacity: 0.5;

  &.done {
    opacity: 1;
  }

  input {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    height: 100%;
    width: 100%;
    background: none;
    font-size: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &.hide {
      display: none;
    }
  }

  &.required {
    border: 1px solid rgb(204, 0, 0);
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    top: -3px;
    left: -2px;
    opacity: 0.5;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    transform: scale(0.6);

    &[data-active],
    &:hover {
      opacity: 1;
    }

    .icon {
      svg {
        fill: #333333;
      }

      &:hover {
        svg {
          fill: #000000;
        }
      }
    }
  }
}
