$primary-font: 'Barlow', sans-serif;

$primary-color: #55bc81;
$secondary-color: #4c56cb;
$border-color: #707ae5;
$label-color: #33364b;
$icon-color: #aeb4bf;
$required-color: rgb(204, 0, 0);

$container-bg: #f5f5fa;
$dark-bg: #1e2031;
$medium-bg: #33354c;
