/**
 * These are global styles applied to the entire DOM. Do not place unnecessary, or overly broad, styles here because they may
 * adversely affect the host application.
  */

:root {
  /* Background for most widgets */
  --verdocs-background-dark: #1e2031;

  /* Standard container border */
  --verdocs-container-border-color: #707ae5;

  /* Standard font */
  --verdocs-font: 'Barlow', sans-serif;
}
