@import '../../../theme.scss';

verdocs-field-attachment {
  font-family: $verdocs-primary-font;
  width: 24px;
  height: 24px;
  display: block;
  font-size: 11px;
  background-color: transparent;
  transform-origin: bottom left;

  span {
    width: 20px;
    cursor: pointer;
  }

  &.required {
    span {
      border: 1px solid $verdocs-red-1;
    }
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }
}
