@import 'node_modules/vanillajs-datepicker/sass/datepicker';

verdocs-field-date {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);

  width: 64px;
  height: 15px;
  display: block;
  font-size: 11px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;

  input {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    height: 100%;
    width: 100%;
    background: none;
    font-size: 11px;
    border: 1px solid #ccc;
    appearance: none;

    &.hide {
      display: none;
    }
  }

  &.required {
    input {
      border: 1px solid rgb(204, 0, 0);
    }
  }
}
