@import '../../../theme.scss';

verdocs-field-timestamp {
  width: 160px;
  height: 15px;
  opacity: 0.5;
  display: block;
  font-size: 9px;
  position: relative;
  background-color: transparent;
  transform-origin: bottom left;
  font-family: $verdocs-primary-font;

  &.done {
    opacity: 1;
  }

  input {
    position: absolute;

    // This is needed to bring down the cursor from the parent element, which is where interactjs applies it
    cursor: inherit;

    width: 100%;
    height: 100%;
    font-size: 9px;
    background: none;
    font-weight: 500;
    transform-origin: 0 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(0, 0, 0, 0.2);

    &.hide {
      display: none;
    }
  }

  &.required {
    border: 1px solid rgb(204, 0, 0);
  }

  &.focused {
    animation: verdocs-field-pulse 0.75s 2;
  }

  verdocs-button-panel {
    top: -3px;
    left: -2px;
    opacity: 0.5;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    transform: scale(0.6);

    &[data-active],
    &:hover {
      opacity: 1;
    }

    .icon {
      svg {
        fill: #333333;
      }

      &:hover {
        svg {
          fill: #000000;
        }
      }
    }
  }

  .settings-icon {
    position: absolute;
    top: -3px;
    left: -20px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;

    svg {
      fill: $border-color;
    }

    &:hover {
      opacity: 1;
    }
  }
}
