@import '../../../theme.scss';

verdocs-search {
  font-family: $verdocs-primary-font;
  display: flex;
  background-color: $dark-bg;

  search-box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
  }

  .boxes {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }

  search-recent,
  search-saved,
  search-quick-functions,
  search-starred {
    display: flex;
    margin: 0 20px 20px 0;
  }
}
