verdocs-toggle {
  /* Fallback font for old browsers */
  font-family: sans-serif;
  font-family: var(--verdocs-font);

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f2f5fa;
  }

  .label {
    font-size: 24px;
    font-weight: 700;
    color: #33364b;
    align-self: center;
    margin-right: 27px;
    font-family: sans-serif;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .buttons button {
    width: 60px;
    height: 60px;
    border: 2px solid #654dcb;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttons button:not(:last-child) {
    margin-right: 11px;
  }

  .buttons svg {
    width: 30px;
    height: 30px;
  }

  .buttons button:hover {
    background-color: #654dcb;
    transition: 0.25s;
  }

  .buttons button:hover svg {
    fill: #f2f5fa;
    transition: 0.25s;
  }

  .selected {
    background-color: #707ae5;
    transition: 0.25s;
  }

  .selected svg {
    fill: #ffffff;
    transition: 0.25s;
  }
}
