@import '../../../theme.scss';

verdocs-settings-members {
  display: flex;
  padding: 10px;
  font-size: 18px;
  flex-wrap: nowrap;
  border-radius: 6px;
  color: $label-color;
  flex-direction: column;
  font-family: $primary-font;

  .table {
    margin: 12px 0;
  }

  .role {
    font-size: 12px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #777777;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table {
    margin: 12px 0;
  }

  .data-col {
    div {
      gap: 12px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .col-name,
  .col-client_id,
  .col-profile_id {
    svg {
      fill: #a1a1aa;
    }
  }

  .col-actions {
    svg {
      fill: #ffffff;
      stroke: #a1a1aa;

      &:hover {
        cursor: pointer;
        stroke: red;
      }
    }
  }

  .col-actions > div {
    justify-content: center;
  }

  .header-col.col-actions {
    text-align: center;
  }

  verdocs-dialog p {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 1em 0;
  }
}
