@import '../../../theme.scss';

verdocs-settings {
  font-family: $verdocs-primary-font;
  display: flex;
  padding: 15px;
  row-gap: 15px;
  min-height: 200px;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  .tabs {
    gap: 4px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid $verdocs-purple;

    .tab {
      cursor: pointer;
      padding: 5px 10px;
      color: $verdocs-grey-4;
      background-color: #777777;

      &.active {
        color: $verdocs-grey-4;
        background-color: $verdocs-purple;
      }
    }
  }
}
