@import '../../../theme.scss';

verdocs-search-activity {
  font-family: $verdocs-primary-font;

  .container {
    display: flex;
    width: 240px;
    color: $verdocs-grey-4;
    flex-direction: column;
    text-transform: uppercase;
    padding: 10px 10px 20px 10px;
    background-color: $verdocs-bg-5;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
  }

  .items {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }

  .item {
    border: none;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    flex-direction: row;
    background: transparent;
  }

  .item:hover {
    cursor: pointer;
  }

  .icon {
    flex: 0 0 22px;
    margin-right: 14px;
  }

  .icon svg {
    fill: $verdocs-light-blue;
    width: 22px;
    height: 22px;
  }

  .details {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .item-title {
    font-size: 16px;
    font-weight: 400;
    color: $verdocs-grey-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: $verdocs-grey-2;
  }

  .empty {
    text-transform: none;
    line-height: 22px;
    color: $verdocs-bg-1;
  }
}
